canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family:'Courier New', Courier, monospace;
}

body {
  min-height: 1000vh;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; display: none; }
}

.info-box {
  display: block;
  position: fixed;
  top: 3vh;
  left: 10vw;
  color: white;
  padding-right: 20vw;;

  animation: fadeIn 0.5s ease forwards;
}


#tooltip {
  color: white;
  display: fixed;
  position: fixed;
  text-align: right;
  top: 5vh;
  left: 70vw;
  padding-right: 50px;
}

.hidden {
  display: none;
}

footer {
  color: white;
  display: block;
  position: fixed;
  top: 95vh;
  left: 5vw;
}

a {
  color: lightblue;
}